
.logo-container {
  height: 100%;
  width: 100%;
  margin-bottom:5%;
}

.logo {
    background-image: './img/CoDePretzel_logo_sin_fondo.png';
    background-repeat: no-repeat;
    position:relative;
    width: 90%;
    max-height: 96%;
    min-height: 56%;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

body {
    scroll-behavior: smooth;
}

/* Footer */
.custom-footer {
    background-color: #f8f9fa;
}


/* footer icons*/

.fa, .fab{
   font-size:4vh;
}

.fa-facebook {
    color: rgb(59, 91, 152);
}

.fa-youtube {
    color: rgb(196, 48, 43);
}
.fa-reddit {
    color: rgb(255, 86, 0);
}

.fa-discord{
    color:rgb(88,101,242)
}


.home-title {
    padding-block-start: 10%;
    text-align:left;
    font-size:8vh;
    font-weight:bolder;
    font-family: 'Roboto Condensed';
}

.fas{
    font-size:10vh;
}
/* Icons */
.objective-img {
    background-color: rgb(128, 128, 128, 0.22);
    background-image: url('./img/pcb_code_pretzel.jpg');
  
}

.dream-img, .objective-img {
    background-repeat: no-repeat;
    height: contain;
    width: contain;
    background-blend-mode: hard-light;
    min-height: 56%;
    position: relative;
    background-position-x: 80%;
    background-size: cover;
}

.dream-img {
    background-color: rgb(128, 128, 128, 0.22);
    background-image: url('./img/smart-microchip-background-on-motherboard-closeup-technology.jpg');

}

.objective-icon{
   padding-left:3%;
}

.dream-wrapper div{
    padding:2%;
}

.dream-wrapper #dream-icon {
    color: white;
    background-color: #4873aa;
    align-items: center;
}

.objective-wraper p{
    text-align: left;
    padding-top: 0;
    margin: 0;
}
.objective-wraper h2{
    text-align:left;
}

.objective-wraper p, .objective-wraper h2 {
    padding-left: 3%;
}

/* Seccion */
.section {
    width: auto;
    height: 98vh;
}

.section-title{
    font-size:6vh;
    font-family:Roboto;
}
.section p {
    font-size: 4vh;
    font-family:Roboto;
}

.row {
    --bs-gutter-x: 0rem !important;
}