
.iframe-container {
    position: relative;
    width: 70%;
    padding-bottom: 56.25%;
    padding-block-start:30%;
    height: 70%;
}

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

body {
    scroll-behavior: smooth;
    background-color: #f4f4f4;
    margin:0;
}

/* Footer */
.custom-footer {
    background-color: #f8f9fa;
}

/* footer icons*/
.fa, .fab{
   font-size:4vh;
}

.fa-facebook {
    color: rgb(59, 91, 152);
}

.fa-youtube {
    color: rgb(196, 48, 43);
}
.fa-reddit {
    color: rgb(255, 86, 0);
}

.fa-discord{
    color:rgb(88,101,242)
}

/* Home section*/
.home-pcb {
    width: 100%;
    max-height: 100vh;
    min-height: 89%;
}

.home-logo{
    text-align:right;
    padding-top:3%;
    width:30%;
    height:30%;
}

.home-title {
    margin-top: 0px;
    padding-inline-start: 5%;
    text-align: left;
    font-weight: bolder;
    font-family: 'Open Sans';
    animation: fadein 2s;
    font-size: 3rem;
}

.home-subtitle {
    padding-inline-start: 5%;
    text-align: left;
    font-family: 'Open Sans';
    animation: fadein 4s;
}
/* Title animation*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fas {
    font-size: 10vh;
    margin-bottom: 3%;
    text-align: center;
}


/* Objective  section*/
.img-objective {
    width: 18rem;
    height: 20rem;
}

.objective-wraper {
   
    background-color: #f8f9fa;
}
.padding-top {
    padding-top:15%;
}

.border-right {
    border-right: solid 20px #4C8DB0;
}


/* Icons */

#dream-icon {
    color: white;
    align-items: center;
}
.img-dream-pcb {
    width: 65%;
    height: 70%;
    border: 1vw solid #3B6E8A;
}
.img-activities, .img-dream-pcb {
    border-radius: 50%;
}
.img-activities {
    width: 60vh;
    height: 60vh;
    border: 1vw solid #3B6E8A;
}


.dots{
  background-image; url("")<
  z-index:-4;
  height:20%;
  width:20%;
}
.dream-section{
    background-color: #203B4A;
    padding: 2%;
}
.history-section {
    background-color: #203B4A;
}
.activities-wrapper {
    background-color: #53a5c8;
}

.community-header, .history-header {
    background-color: #4C8DB0;
}

/* Seccion */
.section {
    padding-top:2%;
    width:100%;
    height:100vh;
}

.section-title {
    font-size: 3rem;
    font-family: 'Open Sans';
    text-align:center;
}
.section-title-left {
    text-align: left;
}
.section p {
    font-size: 1.5rem;
    font-family:'Open Sans';
}
.section-p-left {
    text-align: left;
    padding-right:2%;
}

.row {
    --bs-gutter-x: 0important;
    --bs-gutter-y: 0!important;
        height:100%;
}

.go-discord {
    font-size: 6vw;
}



.container {
    width: 100% !important;
    max-width:100% !important;
}

